pipeline/Combined.json
{
	"name": "Combined",
	"properties": {
		"activities": [
			{
				"name": "LogDetails_Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LogDetails_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pErrorMessage": {
							"value": "@activity('SP_Pipeline').output",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP_Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SP_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_Pipeline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_error",
					"value": {
						"value": "@activity('SP_Pipeline').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pErrorMessage": {
				"type": "string",
				"defaultValue": "@activity('SP_Pipeline').output"
			}
		},
		"variables": {
			"ErroLog": {
				"type": "String"
			},
			"pipeline_error": {
				"type": "String"
			}
		},
		"annotations": []
	}
}