pipeline/LogDetails_Pipeline.json
{
	"name": "LogDetails_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Sp_LogPipelineExecutionDetails]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@pipeline().parameters.pErrorMessage",
								"type": "Expression"
							},
							"type": "String"
						},
						"lastModifieddate": {
							"value": "2023-01-13 17:30:59",
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"sourcefilename": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@pipeline().parameters.pStatus",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_msu_realtimedb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"pErrorMessage": {
				"type": "string",
				"defaultValue": "TriggerError"
			},
			"pStatus": {
				"type": "string",
				"defaultValue": "Failed"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			},
			"ErrorLog": {
				"type": "String"
			},
			"Erroroutput": {
				"type": "String",
				"defaultValue": "@activity('Stored procedure1').Error?.message"
			}
		},
		"annotations": []
	}
}