pipeline/PL_ImportLoanTransactionData.json
{
	"name": "PL_ImportLoanTransactionData",
	"properties": {
		"activities": [
			{
				"name": "CheckingLoanTransactionFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_csv_LoanTransactionSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IfFilesExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachChildItem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckingLoanTransactionFiles').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoanTransactionDataImportToStaging",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "TruncateStagingTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_LoanTransactionDataImport",
									"type": "DataFlowReference",
									"parameters": {
										"inputfile": "\"az-opcon-nextly-container/LoanTransaction/rt_loan_0929202200000001 - Copy.csv\"",
										"destinationfile": "\"abc.csv\""
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "ImportDataToLoanTransaction",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LoanTransactionDataImportToStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_LoanTransactionLoading]"
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_msu_realtimedb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "TruncateStagingTable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "Truncate table loantransaction_staging;\nselect count(LoanTransaction_stagingID) from loantransaction_staging;",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_db_LoanTransactionStaging",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "ForEachChildItem",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CheckingLoanTransactionFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CheckingLoanTransactionFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetModifiedDateoftheCurrentFile",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blob_csv_LoanTransactionSource",
									"type": "DatasetReference"
								},
								"fieldList": [
									"itemName",
									"lastModified",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If CurrentModifiedDate greater than PrevDate",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetModifiedDateoftheCurrentFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@less(ticks(activity('GetModifiedDateoftheCurrentFile').output.lastModified),ticks(formatDateTime(variables('smallestmodifieddate'))))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set currentmodifieddate",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "smallestmodifieddate",
											"value": {
												"value": "@activity('GetModifiedDateoftheCurrentFile').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set First file",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set currentmodifieddate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "filename",
											"value": {
												"value": "@activity('GetModifiedDateoftheCurrentFile').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Capture Error Details",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "IfFilesExists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorLog",
					"value": {
						"value": "@activity('IfFilesExists').Error.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Logging Errors",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Capture Error Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Sp_LogPipelineExecutionDetails]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@activity('IfFilesExists').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"lastModifieddate": {
							"value": {
								"value": "@variables('smallestmodifieddate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"sourcefilename": {
							"value": {
								"value": "@variables('filename')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_msu_realtimedb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"currentmodifieddate": {
				"type": "String"
			},
			"ErrorMessage": {
				"type": "String"
			},
			"ErrorLog": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"smallestmodifieddate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}