pipeline/SP_Pipeline.json
{
	"name": "SP_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_AddStudent]",
					"storedProcedureParameters": {
						"MARKS": {
							"value": {
								"value": "@pipeline().parameters.pMarks",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ROLL_NO": {
							"value": {
								"value": "@pipeline().parameters.pRollNo",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"STUDENT_NAME": {
							"value": {
								"value": "@pipeline().parameters.pStudentName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SUBJECT": {
							"value": {
								"value": "@pipeline().parameters.pSubjectName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_msu_realtimedb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CaptureErrorDetails",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErroLog",
					"value": {
						"value": "@activity('Stored procedure1').Error.message",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pMarks": {
				"type": "int",
				"defaultValue": 65
			},
			"pRollNo": {
				"type": "int",
				"defaultValue": 4
			},
			"pStudentName": {
				"type": "string",
				"defaultValue": "Tony"
			},
			"pSubjectName": {
				"type": "string",
				"defaultValue": "Chemistry"
			}
		},
		"variables": {
			"ErrorLog": {
				"type": "String"
			},
			"ErroLog": {
				"type": "String"
			}
		},
		"annotations": []
	}
}