DataFactory/pipeline/PL_TransactionsTransfersDEV.json
{
	"name": "PL_TransactionsTransfersDEV",
	"properties": {
		"activities": [
			{
				"name": "Fetch the last TransId",
				"description": "Fetch the last TransId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingTransactionRecord",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch the last TransId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transid",
					"value": {
						"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Transfer_StagingData_Alerts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TruncateAlertStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUBACCTNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "BALCATCD",
									"type": "String"
								},
								"sink": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALTYPCD",
									"type": "String"
								},
								"sink": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALANCEDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "TRANAMT",
									"type": "Double"
								},
								"sink": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "BALANCE",
									"type": "String"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRACENBR",
									"type": "String"
								},
								"sink": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_S_InsertDataToAlerts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TruncateAlertStaging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_InsertDataToAlerts",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Insert to AlertTransaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Transfer_StagingData_Alerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertTransactionAlertFromStaging]"
				},
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"transid": {
				"type": "String",
				"defaultValue": "0"
			},
			"subacctnbr": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T07:45:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}