DataFactory/pipeline/PL_TransactionTransferQA.json
{
	"name": "PL_TransactionTransferQA",
	"properties": {
		"activities": [
			{
				"name": "cd_AltratoDigitalBankingTransfers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate the staging table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUBACCTNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "BALCATCD",
									"type": "String"
								},
								"sink": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALTYPCD",
									"type": "String"
								},
								"sink": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALANCEDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "TRANAMT",
									"type": "Double"
								},
								"sink": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "BALANCE",
									"type": "String"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRACENBR",
									"type": "String"
								},
								"sink": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fetch the last TransId",
				"description": "Fetch the last TransId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingTransactionRecord",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch the last TransId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transid",
					"value": {
						"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_InsertTransaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd_AltratoDigitalBankingTransfers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_TransactionData]"
				},
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate the staging table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE Transactions_Staging;\nselect count(*) from Transactions_Staging",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Upperlimit trans id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fetch the transactionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transidlimit",
					"value": {
						"value": "@string(activity('fetch the transactionId').output.firstRow.MAXTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "fetch the transactionId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_InsertTransaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingTransactionRecord",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If there is records",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Upperlimit trans id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('transid'), variables('transidlimit'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "TruncateAlertStaging",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_S_InsertDataToAlertsQA",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Transfer_StagingData_Alerts_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "TruncateAlertStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} and transactionId <= @{variables('transidlimit')}",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ACCOUNTNUMBER",
												"type": "Decimal"
											},
											"sink": {
												"name": "AccountNumber",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "ACCOUNTTRANSACTIONNUMBER",
												"type": "Decimal"
											},
											"sink": {
												"name": "AccountTransactionNumber",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "TRANSACTIONID",
												"type": "Decimal"
											},
											"sink": {
												"name": "TransactionID",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "TRANSACTIONFISCALDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "TransactionFiscalDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONDATETIME",
												"type": "DateTime"
											},
											"sink": {
												"name": "TransactionDateTime",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONEFFECTIVEDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "TransactionEffectiveDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONTYPECODE",
												"type": "String"
											},
											"sink": {
												"name": "TransactionTypeCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONTYPE",
												"type": "String"
											},
											"sink": {
												"name": "TransactionType",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONSTATUSCODE",
												"type": "String"
											},
											"sink": {
												"name": "TransactionStatusCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "TransactionStatus",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONDESCRIPTION",
												"type": "String"
											},
											"sink": {
												"name": "TransactionDescription",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SUBACCTNBR",
												"type": "Decimal"
											},
											"sink": {
												"name": "SubAcctNbr",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "BALCATCD",
												"type": "String"
											},
											"sink": {
												"name": "BalCatCd",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BALTYPCD",
												"type": "String"
											},
											"sink": {
												"name": "BalTypCd",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BALANCEDESCRIPTION",
												"type": "String"
											},
											"sink": {
												"name": "BalanceDescription",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AMOUNT",
												"type": "Double"
											},
											"sink": {
												"name": "Amount",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 3,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "TRANAMT",
												"type": "Double"
											},
											"sink": {
												"name": "TranAmt",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 3,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "BALANCE",
												"type": "String"
											},
											"sink": {
												"name": "Balance",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 3,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "CHECKNBR",
												"type": "Decimal"
											},
											"sink": {
												"name": "CheckNbr",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "TRACENBR",
												"type": "String"
											},
											"sink": {
												"name": "TraceNbr",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_O_AltraServerConnectivity",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_S_InsertDataToAlertsQA",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Insert to AlertTransaction_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Transfer_StagingData_Alerts_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertTransactionAlertFromStaging]"
							},
							"linkedServiceName": {
								"referenceName": "BusinessDataQA",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"transid": {
				"type": "String",
				"defaultValue": "0"
			},
			"subacctnbr": {
				"type": "String",
				"defaultValue": "0"
			},
			"transidlimit": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-25T08:06:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}