adf-nextly-dev-cus-002/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-nextly-dev-cus-002"
		},
		"ls_blob_realtimedb_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_realtimedb_data'"
		},
		"ls_sql_msu_realtimedb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_msu_realtimedb'"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/930577be-9db4-468f-957b-6313085ddb6d/resourceGroups/rg-nextly-dev-cus-001/providers/Microsoft.Storage/storageAccounts/stnextlydevcus002"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_realtimedb_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_realtimedb_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_msu_realtimedb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_msu_realtimedb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_csv_LoanTransactionSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_realtimedb_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "LoanTransaction",
						"container": "az-opcon-nextly-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Bal Seg Count",
						"type": "Integer"
					},
					{
						"name": "Acct Number",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "ID Type",
						"type": "String"
					},
					{
						"name": "Comment Code",
						"type": "String"
					},
					{
						"name": "Transfer Code",
						"type": "String"
					},
					{
						"name": "Adjustment Code",
						"type": "String"
					},
					{
						"name": "Reg E Code",
						"type": "String"
					},
					{
						"name": "Reg D Check Code",
						"type": "String"
					},
					{
						"name": "Reg D Trans Code",
						"type": "String"
					},
					{
						"name": "Void Code",
						"type": "String"
					},
					{
						"name": "SubAct Code",
						"type": "String"
					},
					{
						"name": "Seq Num",
						"type": "String"
					},
					{
						"name": "Effective Date",
						"type": "String"
					},
					{
						"name": "Post Date",
						"type": "String"
					},
					{
						"name": "Post Time",
						"type": "String"
					},
					{
						"name": "User Number",
						"type": "String"
					},
					{
						"name": "User Override",
						"type": "String"
					},
					{
						"name": "Security Level",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Action Code",
						"type": "String"
					},
					{
						"name": "Source Code",
						"type": "String"
					},
					{
						"name": "Bal Change",
						"type": "String"
					},
					{
						"name": "Interest",
						"type": "String"
					},
					{
						"name": "New Bal",
						"type": "String"
					},
					{
						"name": "Fee Amt",
						"type": "String"
					},
					{
						"name": "Escrow Amt",
						"type": "String"
					},
					{
						"name": "Last Tran Date",
						"type": "String"
					},
					{
						"name": "Maturity Loan Due Date",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "Branch",
						"type": "String"
					},
					{
						"name": "Console No.",
						"type": "String"
					},
					{
						"name": "Batch Seq.",
						"type": "String"
					},
					{
						"name": "Sales Tax Amt",
						"type": "String"
					},
					{
						"name": "Activity Date",
						"type": "String"
					},
					{
						"name": "Billed Fee",
						"type": "String"
					},
					{
						"name": "Processor User",
						"type": "String"
					},
					{
						"name": "Member Branch",
						"type": "String"
					},
					{
						"name": "Prev Avail Bal",
						"type": "String"
					},
					{
						"name": "Subscr Code",
						"type": "String"
					},
					{
						"name": "Confirm Seq",
						"type": "String"
					},
					{
						"name": "MICR Acct No.",
						"type": "String"
					},
					{
						"name": "MCR R&T No.",
						"type": "String"
					},
					{
						"name": "Recurring?",
						"type": "String"
					},
					{
						"name": "Fee Ex Courtsy Amt",
						"type": "String"
					},
					{
						"name": "Escrow Unpaid Bal Chg",
						"type": "String"
					},
					{
						"name": "Escrow Applied Bal Chg",
						"type": "String"
					},
					{
						"name": "Unapplied Partial Pmt Chg",
						"type": "String"
					},
					{
						"name": "Fee Count By",
						"type": "String"
					},
					{
						"name": "Waived late Chrg Amt",
						"type": "String"
					},
					{
						"name": "Late Chrg Unpaid Chg Amt",
						"type": "String"
					},
					{
						"name": "Prev Late Chrg Date",
						"type": "String"
					},
					{
						"name": "Prev Late Chrg Accrued",
						"type": "String"
					},
					{
						"name": "Late Chrg Fields Valid",
						"type": "String"
					},
					{
						"name": "Bal Seg Id 1",
						"type": "String"
					},
					{
						"name": "Bal Seg Pmt Chg Date 1",
						"type": "String"
					},
					{
						"name": "Int Eff. Date",
						"type": "String"
					},
					{
						"name": "Bal Seg Prev First Pmt Date 1",
						"type": "String"
					},
					{
						"name": "Draft No.",
						"type": "String"
					},
					{
						"name": "Tracer No.",
						"type": "String"
					},
					{
						"name": "Desposition Fee",
						"type": "String"
					},
					{
						"name": "Termination Fee",
						"type": "String"
					},
					{
						"name": "Misc Expense Amt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_realtimedb_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_db_LoanTransactionStaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_msu_realtimedb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Loantransactionkey",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Loankey",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Accountkey",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Bal Seg Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Acct Number",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "ID Type",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Comment Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Transfer Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Adjustment Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Reg E Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Reg D Check Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Reg D Trans Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Reg D Void Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "SubAct Code",
						"type": "varchar"
					},
					{
						"name": "Seq Num",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Effective Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Post Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "User Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "User Override",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Security Level",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Action Code",
						"type": "varchar"
					},
					{
						"name": "Source Code",
						"type": "varchar"
					},
					{
						"name": "Bal Change",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Interest",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "New Bal",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Fee Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Escrow Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Last Tran Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Maturity Loan Due Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Comment",
						"type": "varchar"
					},
					{
						"name": "Branch",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Console No.",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Batch Seq.",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Sales Tax Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Activity Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Billed Fee",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Processor User",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Member Branch",
						"type": "varchar"
					},
					{
						"name": "Prev Avail Bal",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Subscr Code",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Confirm Seq",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MICR Acct No.",
						"type": "varchar"
					},
					{
						"name": "MCR R&T No.",
						"type": "varchar"
					},
					{
						"name": "Recurring?",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Fee Ex Courtsy Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Escrow Unpaid Bal Chg",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Escrow Applied Bal Chg",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Unpaid Partial Pmt Chg",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Fee Count By",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Waived late Chrg Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Late Chrg Unpaid Chg Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Prev Late Chrg Date",
						"type": "varchar"
					},
					{
						"name": "Prev Late Chrg Accrued",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Late Chrg Fields Valid",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Bal Seg Id 1",
						"type": "varchar"
					},
					{
						"name": "Bal Seg Pmt Chg Date 1",
						"type": "varchar"
					},
					{
						"name": "Int Eff. Date",
						"type": "varchar"
					},
					{
						"name": "Bal Seg Prev First Pmt Date 1",
						"type": "varchar"
					},
					{
						"name": "Draft No.",
						"type": "varchar"
					},
					{
						"name": "Tracer No.",
						"type": "varchar"
					},
					{
						"name": "Desposition Fee",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Termination Fee",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Misc Expense Amt",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Dto",
						"type": "varbinary"
					},
					{
						"name": "Post Time",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LoanTransaction_staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_msu_realtimedb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_LoanTransactionDataImport')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_blob_csv_LoanTransactionSource",
								"type": "DatasetReference"
							},
							"name": "LoanTransactionSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_db_LoanTransactionStaging",
								"type": "DatasetReference"
							},
							"name": "LoanTransactionDestination"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          {Bal Seg Count} as integer,",
						"          {Acct Number} as string,",
						"          ID as string,",
						"          {ID Type} as integer,",
						"          {Comment Code} as integer,",
						"          {Transfer Code} as integer,",
						"          {Adjustment Code} as integer,",
						"          {Reg E Code} as integer,",
						"          {Reg D Check Code} as integer,",
						"          {Reg D Trans Code} as integer,",
						"          {Reg D Void Code} as integer,",
						"          {SubAct Code} as string,",
						"          {Seq Num} as integer,",
						"          {Effective Date} as timestamp 'MM/dd/yyyy',",
						"          {Post Date} as timestamp 'MM/dd/yyyy',",
						"          {Post Time} as integer,",
						"          {User Number} as integer,",
						"          {User Override} as integer,",
						"          {Security Level} as integer,",
						"          Description as string,",
						"          {Action Code} as string,",
						"          {Source Code} as string,",
						"          {Bal Change} as integer,",
						"          Interest as integer,",
						"          {New Bal} as integer,",
						"          {Fee Amt} as integer,",
						"          {Escrow Amt} as integer,",
						"          {Last Tran Date} as timestamp 'MM/dd/yyyy',",
						"          {Maturity Loan Due Date} as timestamp 'MM/dd/yyyy',",
						"          Comment as string,",
						"          Branch as integer,",
						"          {Console No.} as integer,",
						"          {Batch Seq.} as integer,",
						"          {Sales Tax Amt} as integer,",
						"          {Activity Date} as timestamp 'MM/dd/yyyy',",
						"          {Billed Fee} as integer,",
						"          {Processor User} as integer,",
						"          {Member Branch} as string,",
						"          {Prev Avail Bal} as integer,",
						"          {Subscr Code} as integer,",
						"          {Confirm Seq} as integer,",
						"          {MICR Acct No.} as string,",
						"          {MCR R&T No.} as string,",
						"          {Recurring?} as integer,",
						"          {Fee Ex Courtsy Amt} as integer,",
						"          {Escrow Unpaid Bal Chg} as integer,",
						"          {Escrow Applied Bal Chg} as integer,",
						"          {Unapplied Partial Pmt Chg} as integer,",
						"          {Fee Count By} as integer,",
						"          {Waived late Chrg Amt} as integer,",
						"          {Late Chrg Unpaid Chg Amt} as integer,",
						"          {Prev Late Chrg Date} as string,",
						"          {Prev Late Chrg Accrued} as integer,",
						"          {Late Chrg Fields Valid} as integer,",
						"          {Bal Seg Id 1} as string,",
						"          {Bal Seg Pmt Chg Date 1} as string,",
						"          {Int Eff. Date} as string,",
						"          {Bal Seg Prev First Pmt Date 1} as string,",
						"          {Draft No.} as string,",
						"          {Tracer No.} as string,",
						"          {Desposition Fee} as integer,",
						"          {Termination Fee} as integer,",
						"          {Misc Expense Amt} as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['LoanTransaction','LT_Processed'],",
						"     wildcardPaths:['LoanTransaction/*.csv']) ~> LoanTransactionSource",
						"LoanTransactionSource sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Loantransactionkey as long,",
						"          Loankey as long,",
						"          Accountkey as long,",
						"          {Bal Seg Count} as long,",
						"          {Acct Number} as string,",
						"          ID as string,",
						"          {ID Type} as long,",
						"          {Comment Code} as long,",
						"          {Transfer Code} as long,",
						"          {Adjustment Code} as long,",
						"          {Reg E Code} as long,",
						"          {Reg D Check Code} as long,",
						"          {Reg D Trans Code} as long,",
						"          {Reg D Void Code} as long,",
						"          {SubAct Code} as string,",
						"          {Seq Num} as long,",
						"          {Effective Date} as timestamp,",
						"          {Post Date} as timestamp,",
						"          {User Number} as long,",
						"          {User Override} as long,",
						"          {Security Level} as long,",
						"          Description as string,",
						"          {Action Code} as string,",
						"          {Source Code} as string,",
						"          {Bal Change} as long,",
						"          Interest as long,",
						"          {New Bal} as long,",
						"          {Fee Amt} as long,",
						"          {Escrow Amt} as long,",
						"          {Last Tran Date} as timestamp,",
						"          {Maturity Loan Due Date} as timestamp,",
						"          Comment as string,",
						"          Branch as long,",
						"          {Console No.} as long,",
						"          {Batch Seq.} as long,",
						"          {Sales Tax Amt} as long,",
						"          {Activity Date} as timestamp,",
						"          {Billed Fee} as long,",
						"          {Processor User} as long,",
						"          {Member Branch} as string,",
						"          {Prev Avail Bal} as long,",
						"          {Subscr Code} as long,",
						"          {Confirm Seq} as long,",
						"          {MICR Acct No.} as string,",
						"          {MCR R&T No.} as string,",
						"          {Recurring?} as long,",
						"          {Fee Ex Courtsy Amt} as long,",
						"          {Escrow Unpaid Bal Chg} as long,",
						"          {Escrow Applied Bal Chg} as long,",
						"          {Unpaid Partial Pmt Chg} as long,",
						"          {Fee Count By} as long,",
						"          {Waived late Chrg Amt} as long,",
						"          {Late Chrg Unpaid Chg Amt} as long,",
						"          {Prev Late Chrg Date} as string,",
						"          {Prev Late Chrg Accrued} as long,",
						"          {Late Chrg Fields Valid} as long,",
						"          {Bal Seg Id 1} as string,",
						"          {Bal Seg Pmt Chg Date 1} as string,",
						"          {Int Eff. Date} as string,",
						"          {Bal Seg Prev First Pmt Date 1} as string,",
						"          {Draft No.} as string,",
						"          {Tracer No.} as string,",
						"          {Desposition Fee} as long,",
						"          {Termination Fee} as long,",
						"          {Misc Expense Amt} as long,",
						"          Dto as binary,",
						"          {Post Time} as long",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          {Bal Seg Count},",
						"          {Acct Number},",
						"          ID,",
						"          {ID Type},",
						"          {Comment Code},",
						"          {Transfer Code},",
						"          {Adjustment Code},",
						"          {Reg E Code},",
						"          {Reg D Check Code},",
						"          {Reg D Trans Code},",
						"          {Reg D Void Code},",
						"          {SubAct Code},",
						"          {Seq Num},",
						"          {Effective Date},",
						"          {Post Date},",
						"          {Post Time},",
						"          {User Number},",
						"          {User Override},",
						"          {Security Level},",
						"          Description,",
						"          {Action Code},",
						"          {Source Code},",
						"          {Bal Change},",
						"          Interest,",
						"          {New Bal},",
						"          {Fee Amt},",
						"          {Escrow Amt},",
						"          {Last Tran Date},",
						"          {Maturity Loan Due Date},",
						"          Comment,",
						"          Branch,",
						"          {Console No.},",
						"          {Batch Seq.},",
						"          {Sales Tax Amt},",
						"          {Activity Date},",
						"          {Billed Fee},",
						"          {Processor User},",
						"          {Member Branch},",
						"          {Prev Avail Bal},",
						"          {Subscr Code},",
						"          {Confirm Seq},",
						"          {MICR Acct No.},",
						"          {MICR Acct No.},",
						"          {Recurring?},",
						"          {Fee Ex Courtsy Amt},",
						"          {Escrow Unpaid Bal Chg},",
						"          {Escrow Applied Bal Chg},",
						"          {Unpaid Partial Pmt Chg} = {Unapplied Partial Pmt Chg},",
						"          {Fee Count By},",
						"          {Waived late Chrg Amt},",
						"          {Late Chrg Unpaid Chg Amt},",
						"          {Prev Late Chrg Date},",
						"          {Prev Late Chrg Accrued},",
						"          {Late Chrg Fields Valid},",
						"          {Bal Seg Id 1},",
						"          {Bal Seg Pmt Chg Date 1},",
						"          {Int Eff. Date},",
						"          {Bal Seg Prev First Pmt Date 1},",
						"          {Draft No.},",
						"          {Tracer No.},",
						"          {Desposition Fee},",
						"          {Termination Fee},",
						"          {Misc Expense Amt},",
						"          {Post Time},",
						"          each(match(/* All input columns */true()),",
						"               /* Input name */$$ = $$)",
						"     )) ~> LoanTransactionDestination"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_csv_LoanTransactionSource')]",
				"[concat(variables('factoryId'), '/datasets/ds_db_LoanTransactionStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ImportLoanTransactionData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CheckingLoanTransactionFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob_csv_LoanTransactionSource",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "IfFilesExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckingLoanTransactionFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('CheckingLoanTransactionFiles').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoanTransactionDataImportToStaging",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "TruncateStagingTable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_LoanTransactionDataImport",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"LoanTransactionSource": {},
												"LoanTransactionDestination": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "ImportDataToLoanTransaction",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LoanTransactionDataImportToStaging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Sp_LoanTransactionLoading]"
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_msu_realtimedb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncateStagingTable",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "Truncate table loantransaction_staging;\nselect count(LoanTransaction_stagingID) from loantransaction_staging;",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_db_LoanTransactionStaging",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_csv_LoanTransactionSource')]",
				"[concat(variables('factoryId'), '/dataflows/df_LoanTransactionDataImport')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_msu_realtimedb')]",
				"[concat(variables('factoryId'), '/datasets/ds_db_LoanTransactionStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_ImportLoanTransactionData",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/az-opcon-nextly-container/blobs/LoanTransaction/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ImportLoanTransactionData')]"
			]
		}
	]
}